@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,700);

@import url(https://fonts.googleapis.com/css?family=Lato:regular,700);

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Lato";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.conteiner {
  max-width: 1130px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 61px 0px;
}

.header__logo {
  padding-right: 60px;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__ul li {
  position: relative;
  top: 0;
  left: 0;
}

.header__ul li a {
  padding: 0px 20px;
  color: black;
  font-size: 16px;
}

.header__ul li a:hover {
  text-decoration: underline;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
}

.header__link {
  padding: 12px 24px;
}

.header__link a {
  color: #FF5722;
  font-size: 16px;
}

.header__link:hover {
  background-color: #FF5722;
}

.header__link:hover a {
  color: #fff;
}

.header__service:hover .header__sub-list {
  display: block;
}

.header__sub-list {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 15px;
  display: none;
  background-color: orange;
}

.header__sub-list li {
  padding: 5px 0px;
}

.header__sub-list li:nth-child(1) {
  font-size: 4px;
}

.header__sub-list {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 15px;
  display: none;
  background-color: orange;
}

.header__sub-list li {
  padding: 5px 0px;
}

.header__sub-list li:nth-child(2) {
  font-size: 8px;
}

.header__sub-list {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 15px;
  display: none;
  background-color: orange;
}

.header__sub-list li {
  padding: 5px 0px;
}

.header__sub-list li:nth-child(3) {
  font-size: 12px;
}

.header__sub-list {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 15px;
  display: none;
  background-color: orange;
}

.header__sub-list li {
  padding: 5px 0px;
}

.header__sub-list li:nth-child(4) {
  font-size: 16px;
}

.header__sub-list {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 15px;
  display: none;
  background-color: orange;
}

.header__sub-list li {
  padding: 5px 0px;
}

.header__sub-list li:nth-child(5) {
  font-size: 20px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.introducing__sub-title {
  font-size: 20px;
}

.introducing__sub-title p::after {
  content: url(../img/Rectangle1.png);
  position: relative;
  top: -5px;
  left: 20px;
}

.content-introducing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content-introducing__title {
  font-size: 52px;
  line-height: 66px;
  color: #10375C;
  font-weight: 700;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  font-family: lora;
}

.content-introducing__title_red {
  color: #DD2C00;
}

.content-introducing__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #6A6A6A;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 10px 0px 0px 60px;
}

.private__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-private__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 31.5%;
          flex: 1 1 31.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.row-private__column::after {
  content: url(../img/strelka.svg);
  position: absolute;
  padding: 30px;
  background-color: orange;
  top: 325px;
  display: inline-block;
}

._no-webp .row-private__column:nth-child(2){
  background-image: url("../img/MaskGroup.png"); }

.row-private__column:nth-child(2) {
  padding-bottom: 80px;
  padding-top: 124px;
  font-family: lato;
  margin-right: 30px;
  margin-left: 30px;
  color: white;
  background: #10375C;
  background-repeat: no-repeat;
  background-position: 250px 10px;
}

.row-private__column:nth-child(2)::after {
  content: "Check avaibility " url(../img/strelka.svg);
  position: absolute;
  padding: 30px;
  background-color: orange;
  bottom: 0px;
  top: auto;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.row-private__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 15px;
  text-align: center;
}

.row-private__text_white {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.row-private__title {
  text-align: center;
  font-size: 32px;
  line-height: 41px;
}

.why__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why__statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 53%;
          flex: 1 1 53%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #10375C;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 47%;
          flex: 1 1 47%;
}

.statistics-why__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 30px;
}

.statistics-why__img {
  padding-right: 23px;
}

.statistics-why__cifres {
  font-size: 32px;
  font-family: Lora;
  color: #10375C;
}

.statistics-why__clarifications {
  font-size: 16px;
  color: #9A9A9A;
  padding-top: 12px;
}

.content-why {
  padding: 61px 51px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: lora;
  color: white;
}

.content-why__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-family: lato;
  margin-bottom: 10px;
}

.content-why__sub-title p::after {
  content: url(../img/Rectangle2.png);
  position: relative;
  top: -5px;
  left: 20px;
}

.content-why__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  padding-bottom: 30px;
}

.news {
  background: #F8F8F8;
}

.news__conteiner {
  padding: 50px 0px;
}

.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news__title {
  font-size: 22px;
  line-height: 28px;
  color: #222831;
  padding: 15px 40px 0px 16px;
}

.news__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.5%;
          flex: 0 1 31.5%;
  margin-bottom: 30px;
  background-color: #fff;
  padding-bottom: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__block_big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 65.7%;
          flex: 1 1 65.7%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: 30px;
}

.news__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
  padding: 0px 16px;
}

.header-news__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 51px;
  color: #10375C;
}

.header-news__more {
  font-size: 16px;
  line-height: 26px;
}

.header-news__more a {
  color: #FF5722;
}

.header-news__more a:after {
  content: url(../img/orange.svg);
  position: relative;
  top: 3px;
  padding-left: 20px;
}

.content-news {
  padding: 32px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.content-news__title {
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
}

.content-news__text {
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

.user-content-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-content-news__img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.user-content-news__autor {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-content-news__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #10375C;
}

.user-content-news__work {
  font-size: 16px;
  line-height: 26px;
  color: #9A9A9A;
}

._webp .row-private__column:nth-child(2){ background-image: url(../img/MaskGroup.webp); }